<div class="center jumbotron">
  <h2>Welcome to FoodPorn!</h2>

  <h3>
    The Dirtiest Food Pics on The Planet!
  </h3>
  <h2>
    <%= link_to 'Sign Up', new_user_path, class: "btn btn-lg btn-primary" %>
  </h2>
</div>


