@import "bootstrap-sprockets";
@import "bootstrap";


.photos {
  text-align: center;
}

.jumbotron {
  color: red;
  text-align: center;
}

body { padding-top: 60px;
       background: image-url('main.jpg');
}

a:link,
a:visited,
a:hover,
a:active {
  color: #FF6B6B;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-nav.navbar-right:last-child { margin: 0; }

.navbar-nav {
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
  padding: 15px 20px;
  letter-spacing: .11em;
  margin-top: 10px;
}

